* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #343a40;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 100px;
}

.header-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

.main {
    margin-top: 50px;
}

.game-wrapper {
    padding: 0 15px;
}

.game-field {
    border: 1px solid #343a40;
    padding-top: 70%;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.indicator {
    font-size: 100%;
    font-weight: 400;
}

.badge-wrapper {
    padding: 7px 12px;
    margin: 0;
    width: 140px;
}

.points {
    width: 40px;
}

.btn-start,
.btn-restart {
    vertical-align: unset;
    width: 140px;
}

.box {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
}

.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    display: block;
}
